<%- include("partials/header.ejs") %>

<div class="container">
  <p><%= content %></p>
</div>

<div class="container">
  <form action="/submit" method="POST">
    <label for="category">Choose a category:</label>
    <select id="categories" name="categories">
      <%data.forEach(element => { %>
      <option value="<%= element %>"><%= element %></option>
      <% }); %>
    </select>
    <input type="submit" />
  </form>
</div>
<%- include("partials/footer.ejs") %>
